.open-filters {
    padding: .25rem .75rem;
    border-radius: 5px;

    &.open-filters-light {
        background-color: var(--black);
        color: var(--white);
    }

    &.open-filters-dark {
        background-color: var(--white);
        color: var(--black);
    }
}

.header-name {
    writing-mode: vertical-lr;
    rotate: -180deg;
}

#amountOfShownRecords {
    width: 4.25rem;
    margin-bottom: .5rem;

    ::ng-deep input {
        padding: 0 .75rem;
    }
}

.filter-item {
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    text-align: center;

    &.light {
        border-color: var(--white);
        background-color: rgba(0, 0, 0, .1);
        color: var(--black);

        &.active {
            background-color: rgba(0, 0, 0, .75);
            color: var(--white);
        }
    }

    &.dark {
        border-color: var(--black);
        background-color: rgba(255, 255, 255, .05);
        color: var(--white);

        &.active {
            background-color: rgba(255, 255, 255, .75);
            color: var(--black);
        }
    }
}

.reverse-button {
    opacity: 50%;

    &.dark {
        color: var(--white);
    }

    &.light {
        color: var(--dark);
    }

    &.active {
        opacity: 100%;
    }
}