<div class="row">
    <div class="col-12">
        <div class="content-item">
            <h3>Patch Notes</h3>
            <p class="">
                <span class="me-2">
                    Added
                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                </span>
                <span class="m-2">
                    Changed
                    <fa-icon [icon]="iconChange" class="text-warning"></fa-icon>
                </span>
                <span class="m-2">
                    Removed
                    <fa-icon [icon]="iconRemove" class="text-danger"></fa-icon>
                </span>
                <span class="ms-2">
                    Info
                    <fa-icon [icon]="iconInfo" class="text-info"></fa-icon>
                </span>
            </p>
            <div class="table-border">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Release</th>
                            <th scope="col">Pages</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                05-07-2023<br />
                                5.7.23
                            </td>
                            <td>
                                Profile<br />
                            </td>
                            <td>
                                <h6>Profile</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Inverse filters with the a click of a button.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                27-06-2023<br />
                                27.6.23
                            </td>
                            <td>
                                Profile<br />
                            </td>
                            <td>
                                <h6>Profile</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Profile now contains the year and month summaries.<br />
                                    <fa-icon [icon]="iconChange" class="text-warning"></fa-icon>
                                    Record filters have a neater layout.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                20-06-2023<br />
                                20.6.23
                            </td>
                            <td>
                                Security<br />
                            </td>
                            <td>
                                <h6>Security</h6>
                                <p>
                                    <fa-icon [icon]="iconInfo" class="text-info"></fa-icon>
                                    General security updates.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                18-06-2023<br />
                                18.6.23
                            </td>
                            <td>
                                Shared<br />
                            </td>
                            <td>
                                <h6>Shared</h6>
                                <p>
                                    <fa-icon [icon]="iconChange" class="text-warning"></fa-icon>
                                    Records of today are now highlighted.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                15-06-2023<br />
                                15.6.23
                            </td>
                            <td>
                                Manage<br />
                            </td>
                            <td>
                                <h6>Manage</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Records are now able to be deleted.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                11-06-2023<br />
                                11.6.23.3
                            </td>
                            <td>
                                Shared<br />
                            </td>
                            <td>
                                <h6>Shared</h6>
                                <p>
                                    <fa-icon [icon]="iconChange" class="text-warning"></fa-icon>
                                    Links in the note of a record are now clickable.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                11-06-2023<br />
                                11.6.23.2
                            </td>
                            <td>
                                Settings<br />
                            </td>
                            <td>
                                <h6>Settings</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Added new setting to display your online/offline status detailed or abstract.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                09-06-2023<br />
                                9.6.23.1
                            </td>
                            <td>
                                Overall<br />
                            </td>
                            <td>
                                <h6>Overall</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    The page now refreshes automaticly if you are not on the newest version/patch.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                05-06-2023<br />
                                5.6.23
                            </td>
                            <td>
                                Shared<br />
                            </td>
                            <td>
                                <h6>Shared</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Circle added after user name that represents online status.<br />
                                    Green circle if active in the last 60 seconds.<br />
                                    Yellow circle if active in the last 10 minutes.<br />
                                    Grey circle if longer offline then 10 minutes.
                                </p>
                            </td>
                        </tr>
                        <!-- Patch Note -->
                        <tr>
                            <td>
                                04-06-2023<br />
                                4.6.23
                            </td>
                            <td>
                                Shared<br />
                                Profile<br />
                                Patch Notes
                            </td>
                            <td>
                                <h6>Shared</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Alltime net of user is now displayed behind name.
                                </p>
                                <h6>Profile</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    Now more easy to compare connections net since their net is showed next to
                                    their name. Applying filters will also update connections net. <br />
                                    <fa-icon [icon]="iconChange" class="text-warning"></fa-icon>
                                    Overall performance upgrade => Switching between profiles is smoother.
                                </p>
                                <h6>Patch Notes</h6>
                                <p>
                                    <fa-icon [icon]="iconAddition" class="text-success"></fa-icon>
                                    New page, serves to track new updates.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>