<div class="content-item mb-3">
	<div class="row">
		<div class="col-12">
			<h3>Last online</h3>
			<h6 class="d-inline-block me-1">Your last online status will be displayed: </h6>
			<h6 role="button" class="d-inline-block" (click)="updatePingDetailed('0')"
				[ngClass]="_user.getPingDetailByUser(_localstorage.getUserId()) ? 'text-decoration-line-through' : 'fw-bold  text-success'">
				Abstract
			</h6>
			/
			<h6 role="button" class="d-inline-block" (click)="updatePingDetailed('1')"
				[ngClass]="_user.getPingDetailByUser(_localstorage.getUserId()) ? 'fw-bold  text-success' : 'text-decoration-line-through'">
				Detailed
			</h6>
			<p>
				<span class="fst-italic">e.g. abstract</span>: &lt; 12 hours ago<br />
				<span class="fst-italic">e.g. detailed</span>: 4 hours, 33 minutes ago
			</p>
		</div>
	</div>
</div>
<div class="content-item">
	<app-user-connection></app-user-connection>
</div>