<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Next Tracker</a>


  <ul class="navbar-nav" *ngIf="ls.isLoggedIn()">
    <li class="nav-item active">
      <div class="nav-link active">Ingelogd als: {{ ls.getUserConnectionName(ls.getUserId()) }}</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="channel/overview">Overzicht</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile/{{ ls.getUserId() }}">Profiel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="manage">Manage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" role="button">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>