<div class="row">
	<div class="col-12">
		<h3>Overview manager</h3>
	</div>
	<div class="col-6 col-md-4 col-lg-3 mb-3">
		<h5>Shown</h5>
		<ng-container *ngFor="let connection of connections">
			<div *ngIf="!hasValue(allUsers, connection.value)" (click)="deleteConnection(connection.key)"
				class="border border-secondary p-1 mb-2" style="--bs-border-opacity: .5;" role="button">
				{{ connection.value }}
				<fa-icon class="text-danger float-end" [icon]="iconLink"></fa-icon>
			</div>
		</ng-container>
	</div>
	<div class="col-6 col-md-4 col-lg-3 mb-3">
		<h5 class="text-end">Hidden</h5>
		<ng-container *ngFor="let connection of allUsers">
			<div *ngIf="!hasValue(connections, connection.key) && connection.key != _localstorage.getUserId()"
				(click)="createConnection(connection.key)" class="border border-secondary p-1 mb-2"
				style="--bs-border-opacity: .5;" role="button">
				<fa-icon class="text-success me-3" [icon]="iconUnlink" role="button"></fa-icon>
				<span class="float-end">{{ connection.value }}</span>
			</div>
		</ng-container>
	</div>
</div>