@import "../variables.less";

.profile-results {
    max-height: 24rem;
    background-color: rgba(0, 0, 0, .25);
    padding: 1rem;
    border-radius: 1rem;

    p {
        margin: 0;

        span {
            display: inline-block;
        }
    }
}

.filter-button {
    display: inline-block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-button-small {
    width: calc(~"16.6666666667% - 0.25rem");
}

.filter-button-normal {
    width: calc(~"25% - 0.25rem");
}

.filter-button-wide {
    width: calc(~"33.3333333333% - 0.25rem");
}

.table-overflow {
    overflow: auto;
    max-height: 26rem;
}